// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

//font-family: 'Heebo', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

//font-family: 'Rock Salt';
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt');

:root {
  --ff-handwrite: 'Rock Salt';
  --ff-neutral: 'Heebo', sans-serif;

  --fs-xxl: 2.3rem;
  --fs-xl: 1.5rem;
  --fs-m: 1.15rem; // weird scaling take care
  --fs-s: 1rem;
  --fs-xs: 0.75rem;
  --fs-xxs: 0.6rem;
}

@media (min-width: 40em) {
  :root {
    --fs-xxl: 4.5rem;
    --fs-xl: 2rem;
    --fs-m: 1.85rem; // for typing text in banner
    --fs-s: 1.5rem;
    --fs-xs: 1rem;
    --fs-xxs: 0.75rem;
  }
}
