<nav>
  <%# render navigation  %>
</nav>
<div class="container">
  <section>
    <h1></h1>
    <%# render section  %>
  </section>
  <section class="text-center">
    <h1></h1>
    <%# render section  %>
    <div class="d-flex">
      <%= render "gears" %>
    </div>
    <div>
      <%= render "van" %>
    </div>
    <p>les images de fond sont libres de droit et proviennent de "mobilegamegraphics.itch.io"</p>
  </section>
</div>
