<header class="banner d-flex align-items-center align-items-lg-start flex-column justify-content-center">
    <h1>Rémi Tondeux</h1>
    <p id="job-title"></p>
  </header>
<nav>
  <%# render navigation  %>
</nav>
<div class="container">
  <section>
    <h1></h1>
    <%= render "wall"  %>
  </section>
  <section class="text-center">
    <h1></h1>
    <%# render section  %>
    <div class="row">
      <div class="col">
        <%#= render "gears" %>
      </div>
      <div class="col">
        <%#= render "van" %>
      </div>
      <div class="col">
      </div>
    </div>
    <div>
      <%#= render "van" %>
    </div>
    <p>les images de fond sont libres de droit et proviennent de "mobilegamegraphics.itch.io"</p>
  </section>
</div>
