<nav>
  <%# render navigation  %>
</nav>
<div class="container">
  <section>
    <h1></h1>
    <%# render section  %>
  </section>
  <section class="text-center">
    <h1></h1>
    <%# render section  %>
    <div class="d-flex justify-content-center">
      <%= render "gears" %>
    </div>
  </section>
</div>
