<div class='d-flex'>
    <% unless @dices == [] %>
      <% @dices.each do |dice| %>
        <%= simple_form_for(dice,
                            html: { class: "dice #{'locked' unless dice.state == 'free' }"},
                            data: {gamearea_target: "form",
                                    action: "click->gamearea#lockdice" },
                            remote: true
                            ) do |f| %>
          <%= f.submit "#{dice.value}"%>
        <% end %>
      <% end %>
    <% end %>
  </div>
