<div data-gamearea-target="list">
    <% unless @dices == [] %>
      <% @dices.each do |dice| %>
        <%= simple_form_for(dice,
                            html: { class: "dice #{'locked' if dice.locked }"},
                            data: {gamearea_target: "form",
                                    action: "click->gamearea#lockdice" },
                            remote: true
                            ) do |f| %>
          <%= f.submit "#{dice.value}"%>
        <% end %>
        <% @sum += dice.value %>
      <% end %>
      <%= @sum %>
    <% end %>
  </div>
