<h1>Règles du jeu</h1>

<h2>Initialisation</h2>
<p>Les joueurs démarrent avec 30 points de vie (PV) et jouent chacun leur tour avec 5 dés.</p>

<h2>Tour de jeu</h2>
<p>Le joueur a jusque 5 lancés pour réaliser son score et dois bloquer au minimum 1 dé à chaque lancé.</p>

<p>Si le score est égal à 24 ou à 11, le joueur relance 1 dé et se soigne d'un nombre de PV équivalent à ce lancé. Il n'y a pas de limite maximale de PV.</p>
<p>Si le score est supérieur à 24 (ou inférieur à 11), le joueur inflige des dégats correspondant à l'écart de points entre son score et 24 (respectivement 11) au joueur de son choix</p>
<p>Si le score est compris entre 12 et 23, le joueur s'inflige des dégats correspondant à l'écart le plus petit avec 24 ou 11 points</p>
<p>Si un joueur tombe à 0 PV, la partie est terminée pour lui.</p>

<h2>Condition de victoire</h2>
<p>Vous êtes l'ultime survivant.</p>
